html {
  height: 100%;
}

html body {
  height: 100%;
}

html body .full-height {
  height: 100%;
}

html body .scroll-bar {
  position: absolute;
  right: 10px;
  width: 50px;
}

html body .scroll-bar #scroll-down {
  position: fixed;
  right: 0;
  bottom: 0;
}

html body .popup {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
}

html body .popup form {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 15%;
}

html body .popup form .input-item label {
  min-width: 60px;
  display: inline-block;
}

html body .popup form .form-buttons {
  margin: 10px;
}

html body .popup form .form-buttons * {
  margin: 20px;
}

html body .scroll-button {
  display: none;
}

@media (max-width: 800px) {

  html body .scroll-bar {
    display: none;
  }
  
  html body .menu-button {
    width: 100%;
    font-size: 3em;
    display: inherit;
  }
  
  
  
  html body .popup form {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  
  html body .popup form .product-items-edit {
    margin-top: 1.5em;
  }
  
  
  
  html body .popup form .product-items-edit .product-item-edit label {
    display: none;
  }
  
  
  
  html body .calendar .day {
    min-height: 12em;
  }

}

@media (min-width: 800px) {

  
  
  html body .popup form {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 15%;
  }
  
  html body .calendar {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
  }

}

@media (min-width: 1200px) {

  html body .calendar {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    grid-template-rows: 50% 50%;
  }

}

html body .calendar .day-header {
  border: 2px solid black;
  text-align: center;
  font-size: 2em;
}

html body .calendar .day.today {
  border: 0.4em solid red;
}

html body .calendar .day {
  border: 2px solid black;
  overflow: auto;
}

html body .calendar .day .day-header {
  border: none;
  border-bottom: 2px solid black;
}

html body .calendar .day .orders {
  padding-left: 25px;
}

html body .calendar .day .orders .actions {
  display: none;
  float: right;
}

html body .calendar .day .orders .order:hover .actions {
  display: inline;
}

html body .calendar .day .orders .order.pending {
  color: grey;
}

html body .calendar .day .orders .order.fulfilled {
  color: red;
}

html body .calendar .day .orders .who {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

html body .calendar .day .product {
  margin-bottom: 5px;
}

html body .calendar .day .product .product-name {
  width: 5em;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;
}

html body .calendar .day .product .product-amount {
  width: 40px;
  max-height: 5px;
}

html body .calendar .day .summary {
  margin-top: 10px;
}

html body .stock-modal .add-product {
  float: right;
}

html body .stock-modal .stock-product {
  margin: 1em 0;
}

html body .stock-modal .stock-product .product-name {
  display: inline-block;
  width: 6em;
}

html body .stock-modal .stock-product .stock-product-amount {
  display: inline-block;
}

html body .stock-modal .stock-product .stock-product-amount .input-item {
  display: inline;
}

html body .stock-modal .stock-product .stock-product-amount .input-item input {
  width: 40px;
}

html body .stock-modal .stock-product .stock-product-amount .input-item label {
  display: none;
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}