@media (max-width:760px)  {
    .size-inputs {
        font-size: 3em;
        margin: 20px;
    }
    .size-inputs input[type="text"], .size-inputs select {
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .size-inputs > input, .size-inputs > label {
        display: block;
    }

    .results {
        font-size: 1.5em;
    }

    #resultsTable td {
        padding: 0.25em 0.5em;
    }

    .text {
        margin-bottom: 20px;
    }

    .subtitled-img {
        padding: 10px;
    }
}

@media (min-width:760px)  {
    body {
        margin: 40px;
    }

    .text {
        width: 800px;
        margin-bottom: 20px;
    }

    .images {
        margin: 20px;
        display: flex;
    }

    .title {
        display: flex;
        font-size: 30px;
        font-weight: bold;
        align-items: center;
    }

    .logos {
        margin-left: 100px;
    }

    .subtitled-img {
        width: 640px;
        padding: 10px;
    }

    .size-inputs {
        margin: 20px;
    }

    .results {
        margin: 20px;
    }

    #resultsTable td {
        padding: 5px 10px;
    }
}

#resultsTable td.avg {
    font-weight: bold;
}

.results .desc {
    background-color: #5b9bd5;
    color: white;
    padding: 5px;
}

.results .dark {
    background-color: #d1deef;
}

.results .light {
    background-color: #e9eff7;
}
